@inject SignInManager<VotingApp.Data.AppUser> SignInManager
@inject UserManager<VotingApp.Data.AppUser> UserManager
@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Voting App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/layout_dark/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/layout_dark/assets/css/black-dashboard.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <style>

        body {
            margin: 0;
            font: normal 75% Arial, Helvetica, sans-serif;
        }

        .main-panel > .content {
            padding: 78px 30px 30px 30px !important;
            /* background-image: url('/images/baucau.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;*/
        }

        .card {
            background: #27293da3 !important;
        }

        canvas {
            display: block;
            vertical-align: bottom;
        }

        .modal h1, .modal h2, .modal h3, .modal h4, .modal h5, .modal h6,
        .modal p, .modal ol li, .modal ul li {
            color: #32325d;
        }

        /* ---- particles.js container ---- */

        #particles-js {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #b1aaab;
            background-image: url("");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }
    </style>
    @RenderSection("css", required: false)
</head>
<body>

    @*<div id="particles-js"></div>*@
    <div class="please-wait" style="display: none;">
        <div class="load-wrapper" style="opacity: 0;">
            <img src="~/images/please_wait.svg" />
        </div>
        <div class="please-wait-bg"></div>
    </div>

    <div class="wrapper">
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle d-inline">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                        @ViewData["Title"]
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Home"
                                       class="nav-link">
                                        <i class="fa fa-th-large mr-3 fa-fw"></i>
                                        Dashboard
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Areas" class="nav-link">
                                        <i class="fa fa-address-card mr-3 fa-fw"></i>
                                        Areas
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="PollingStationAreas"
                                       class="nav-link">
                                        <i class="fa fa-cubes mr-3 fa-fw"></i>
                                        Polling Stations
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Candidates"
                                       class="nav-link">
                                        <i class="fa fa-picture-o mr-3 fa-fw"></i>
                                        Candidates
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Votings"
                                       class="nav-link">
                                        <i class="fa fa-picture-o mr-3 fa-fw"></i>
                                        Votings
                                    </a>
                                </li>
                                <li class="nav-link ">
                                    <a asp-action="Index" asp-controller="AuditLog"
                                       class="nav-link">
                                        <i class="fa fa-area-chart mr-3 fa-fw"></i>
                                        Logs
                                    </a>
                                </li>
                            }
                            <partial name="_LoginPartial" />


                            <li class="separator d-lg-none"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Navbar -->

            <div class="content">
                @RenderBody()
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/helderchebre">
                                    Helder Chebre
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright float-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>,Voting App Demo
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>

                    <!-- your footer here -->
                </div>
            </footer>

            @*<footer class="footer border-top">
                    <div class="container">
                        &copy; 2022 - VotingApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </footer>*@

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/layout_dark/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/layout_dark/assets/js/plugins/bootstrap-notify.js"></script>
    <script src="~/layout_dark/assets/js/black-dashboard.min.js"></script>

    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/signalr.min.js"></script>
    <script src="~/js/voting_broadcasting.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
