@model IEnumerable<VotingApp.Data.Audit>

@{
    ViewData["Title"] = "Audit Log";
}

<div class="card rounded shadow border-0">
    <div class="card-header">
        <div class="text-center">
            <h1>
                @ViewData["Title"]
                <a asp-action="Create" class="btn-add-new btn btn-link btn-icon float-right text-white"><i class="fa fa-plus"></i></a>
            </h1>

            <p class="font-italic mb-0">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>


        </div>
    </div>

    <div class="card-body p-5 rounded">
        <div class="table-responsive">
            <table class="table" id="table-logs">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TableName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OldValues)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NewValues)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AffectedColumns)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PrimaryKey)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TableName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OldValues)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NewValues)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AffectedColumns)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrimaryKey)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts{ 

    <script>
        $(document).ready(function () {
            $("#table-logs").DataTable();
        })
    </script>
}